body {
    font-family: calibri;
    background-color: rgb(205, 247, 233);
    font-size: 20px;
}

h1, h4 {
	text-align: center;
}

ul {
	list-style-type: square;
}

table {
	border-style: solid;
	border-collapse: collapse;
}

td, th {
	border-style: solid;
	padding: 10px;
}

.celda {
	background-color: #d4d3d3;
}

.centre {
	text-align: center;
}

.recuadro {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 120px;
    padding-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
}

.img {
	display: block;
	margin: auto;
}

.imgA{
    width: 15%;
    height: 15%;
}

/*barra de menu*/
nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 70px;
    background-color:black;
}

nav .logo{
    display: flex;
    float: left;
    width: 40%;
    height: 100%;
    align-items: center;
    font-size: 24px;
    color: #31f1e1; 
    font-weight: bold;
}

nav .menu {
    display: flex;
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    align-items: center;
}

nav .menu li {
    list-style: none;
}

nav .menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

/* cajas*/

.cajas {
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
    width: fit-content;
    margin: 20 rem auto;
}

.caja {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 15px 15x black;
    text-align: center;
}

.contenedor-imagenes {
    width: 100%;
 }

 .contenedor-imagenes img {
    height: auto;
    float: left;
 }





 
 