body {
    font-family: verdana;
    background-color: bisque;
}
h1 {
    text-align: center;
}
h6 {
    text-align: right;
}
button {
    display:bloc;
    margin: auto;
}
.recuadro {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-right: 5%;
    margin-left: 5%;
}